.fieldContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.fieldLabel {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto";
}
.fieldInput {
  border-radius: 8px;
  border: 1px solid darkgray;
  outline: none;
  padding: 7px 10px;
  margin-bottom: 5px;
}
.submitButton {
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto";
  color: white;
  background-color: #0d6efd;
  padding: 8px 10px;
  border-radius: 12px;
}
.errorMessage {
  color: red;
}
